*~
/*/dist/
/*/yesod-devel/
/*/main.cgi
/*/static/tmp
client_session_key.aes
Setup.hs
# Objekt- und Interface-Dateien werden vom Compiler erzeugt
*.o
*.hi
# Sublime-Text Projekte
*.sublime-project
*.sublime-workspace
# Cabal-Sandbox
.cabal-sandbox
cabal.sandbox.config
