Default: &defaults
  host: "*4" # any IPv4 host
  port: 3000
  approot: "http://localhost:3000"
  datadir: "config/"
  staticdir: "static/"
  maxturns: 150

Development:
  <<: *defaults

Testing:
  <<: *defaults

Staging:
  <<: *defaults

Production:
  approot: "http://www-pg.iai.uni-bonn.de"
  datadir: "/srv/www/vhosts/www-pg-data/battleships/"
  staticdir: "/srv/www/vhosts/www-pg-data/battleships/"
  <<: *defaults
